/* ///////////////////////////////////////////////////// */
/* ////////////////////// GENERAL ////////////////////// */

:root {
  --color-primary: #000c19;
  --color-secondary: #0077ff;
  --color-background: #eee;
  --color-text-light: #e6f1ff;
  --color-payment: green;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-primary);
  font-weight: 400;
  line-height: 1.2;
}

.section__header {
  display: block;
  padding: 2rem;
}

.heading__primary {
  font-size: 6rem;
  padding: 2rem 0 1.5rem;
}

.heading__secondary {
  width: 55rem;
}

/* ///////////////////////////////////////////////////// */
/* ////////////////// SHARED CLASSES /////////////////// */

.section__header,
.section__calculator,
.results__display {
  margin-bottom: 3rem;
}

.btn,
.dps__payment,
.heading__primary,
.js-results__description span {
  font-weight: 700;
}

.recalcBtn,
.heading__secondary {
  display: inline-block;
}

.heading__secondary,
.calculator__heading {
  font-size: 2.2rem;
}

.flex,
.results {
  align-items: center;
}

.container,
.results__display {
  height: fit-content;
}

.calc-btn,
.container,
.form-fields input {
  background-color: var(--color-background);
}

.calculate__btn,
.js-results__description {
  font-size: 3rem;
}

.calculate__btn,
.calc-btn:hover,
.results__display,
.section__calculator {
  background-color: var(--color-secondary);
}

.results,
.calc-btn:hover,
.calculate__btn,
.calculator__heading {
  color: var(--color-text-light);
}

.btn,
.calculate__btn,
.results__display {
  border-radius: 1rem;
}

.calc-btn,
.calculate__btn:hover {
  color: var(--color-secondary);
}

.calculator__form,
.section__calculator {
  flex-direction: column;
}

.btn-container,
.section__calculator {
  gap: 5rem;
}

.results,
.calc-btn,
.form-text {
  font-size: 2rem;
}

/* ///////////////////////////////////////////////////// */
/* ////////////////////// LAYOUT /////////////////////// */

.flex {
  display: flex;
  justify-content: center;
}

.grid {
  display: grid;
}

.container {
  width: 100vw;
  min-height: 100vh;
  text-align: center;
}

/* ///////////////////////////////////////////////////// */
/* /////////////////// BTN SECTION ///////////////////// */

.calculate__btn {
  padding: 3rem 5rem;
  border: 4px solid var(--color-text-light);
}

.calculate__btn:hover {
  background-color: var(--color-text-light);
  border: 4px solid var(--color-secondary);
}

/* ///////////////////////////////////////////////////// */
/* //////////////// CALCULATOR SECTION ///////////////// */

.section__calculator {
  padding: 4rem 6rem;
  border-radius: 3rem;
}

.calculator__form {
  gap: 2.4rem;
}

.form-fields {
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 4rem;
  justify-items: start;
  gap: 2rem;
}

.form-fields input::placeholder {
  font-size: 1.8rem;
}

.form-text {
  color: #fff;
  align-self: center;
}

.calc-btn {
  border: 2px solid var(--color-secondary);
  padding: 1.2rem 2rem;
}

.calc-btn:hover {
  border: 2px solid var(--color-text-light);
}

.btn-container {
  margin-top: 2.4rem;
}

.btn {
  transition: all 0.3s;
  cursor: pointer;
}

/* ///////////////////////////////////////////////////// */
/* ////////////////// RESULTS SECTION ////////////////// */

.js-results__description {
  margin-top: 2rem;
}

.js-results__description span {
  color: var(--color-payment);
}

.results__display {
  width: 80%;
  max-width: 100rem;
  padding: 4rem;
}

.results__container {
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  column-gap: 5rem;
  row-gap: 2rem;
}

.results {
  justify-content: space-between;
}

.recalcBtn {
  grid-column: 1 / -1;
  align-self: end;
  justify-self: center;
}

/* ///////////////////////////////////////////////////// */
/* ////////////////// HELPER CLASSES /////////////////// */

.hidden {
  display: none;
}

/* ///////////////////////////////////////////////////// */
/* /////////////////// MEDIA QUERIES /////////////////// */

/* Max-width: 896px */
@media (max-width: 56em) {
  .heading__primary {
    font-size: 5rem;
  }
  .calculate__btn {
    font-size: 2.4rem;
  }

  .results__container {
    grid-template-columns: 1fr;
  }
}

/* Max-width: 688px */

@media (max-width: 43em) {
  .heading__primary {
    font-size: 3rem;
  }

  .heading__secondary {
    width: 32rem;
  }

  .calculate__btn {
    padding: 2rem 3rem;
  }

  .section__calculator {
    gap: 3rem;
  }

  .calculator__form {
    max-width: 17.5rem;
    align-items: center;
  }

  .calculator__heading {
    font-size: 2rem;
    max-width: 21rem;
  }

  .form-fields {
    grid-template-columns: 1fr;
    grid-template-rows: initial;
    justify-items: center;
    margin-bottom: 2rem;
  }

  .form-fields input {
    height: 2.4rem;
  }

  .btn-container {
    margin-top: 0;
    flex-direction: column;
  }

  .calc-btn {
    padding: 0.8rem 1.6rem;
  }

  .js-results__description {
    font-size: 2.4rem;
  }

  .calculate__btn,
  .heading__secondary {
    font-size: 1.8rem;
  }

  .form-fields,
  .btn-container {
    gap: 1rem;
  }

  .results,
  .form-text {
    font-size: 1.7rem;
  }
}

/* Max-width: 464px */

@media (max-width: 29em) {
  .calculate__btn {
    font-size: 1.6rem;
    padding: 1.6rem 2.4rem;
  }

  .results {
    flex-direction: column;
    gap: 1rem;
  }
}
